:root {
  /* Main Color */
  --themeColor: #21bf73;
  --themeColorDark: #39b27b;
  --themeLightColor: #56d598;
  --secondaryColor: #b0eacd;
  --themeDarkColor: #2e374f;
  --themeWhiteColor: #ffffff;

  /* Greyscale Color */
  --lightColor: #9ea3ae;
  --lightDeepColor-1: #9ea3ae;
  --lightDeepColor-2: #faf8f6;
  --lightDeepColor-3: #d3d5da;
  --lightDeepColor-4: #9ea3ae;
  --darkColor: #6c727f;
  --darkDeepColor-1: #4d5461;
  --darkDeepColor-2: #394150;
  --darkDeepColor-3: #212936;
  --darkDeepColor-4: #0b0a0f;

  /* Typography */
  --headline-1: 52px;
  --headline-2: 40px;
  --headline-3: 32px;
  --headline-4: 24px;
  --bodyXLarge: 20px;
  --bodyLarge: 18px;
  --bodyMedium: 16px;
  --bodySmal: 14px;
  --bodyXSmal: 10px;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--lightDeepColor-2);
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
}
a {
  cursor: pointer;
  color: inherit;
}
a:hover {
  color: inherit;
}

.icon-nav {
  padding: 6px;
  transition: 0.3s;
  color: #606060;
}
.icon-nav:hover {
  transition: 0.3s;
  color: #252526;
}
.icon-nav:active {
  border-radius: 50%;
  padding: 8px;
  transition: 0.3s;
  color: #252526;
  background: rgba(0, 0, 0, 0.16);
}
.icon-nav-img {
  cursor: pointer;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.icon-nav-img-lg {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  object-fit: cover;
}

.side-nav-logo {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 80px;
  align-self: center;
}

.side-nav-open {
  height: 100%;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  background-color: #252526;
  scrollbar-color: #252526 #252526;
  scrollbar-width: thin;
}
.side-nav-close {
  padding-top: 70px;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  background-color: #252526;
  scrollbar-color: #252526 #252526;
  scrollbar-width: thin;
}
.side-nav-open::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.side-nav-open::-webkit-scrollbar-track-piece {
  background-color: #f5f5f5;
}
.side-nav-open::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  border-radius: 4px;
  background: #cccccc;
}
.side-nav-close::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.side-nav-close::-webkit-scrollbar-track-piece {
  background-color: #f5f5f5;
}
.side-nav-close::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  border-radius: 4px;
  background: #cccccc;
}

.top-navbar {
  background: #ffffff;
  transition: 0.3s;
  margin-left: 240px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.03);
}
.top-navbar-expand {
  background: #ffffff;
  transition: 0.3s;
  margin-left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.03);
}

.content {
  margin-top: 70px;
  transition: 0.3s;
  margin-left: 240px;
}

.content-expand {
  margin-top: 70px;
  transition: 0.3s;
  margin-left: 0;
}

.nav-logo {
  width: auto;
  height: 30px;
}

.side-bar-item {
  text-decoration: none;
  display: inline-block;
  padding: 12px 5px 12px 12px;
  width: 100% !important;
}
.side-bar-item:hover {
  transition: 0.2s;
  background-color: #535353;
}
.side-bar-item:hover .side-bar-item-icon {
  color: #fcfcff;
}
.side-bar-item:hover .side-bar-item-caption {
  color: #ffffff;
}
.side-bar-item-active {
  background-color: #535353;
}
.side-bar-item-icon {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
  color: #ffffff;
}
.side-bar-item-caption {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

/* Responsive */

@media (max-width: 339.98px) {
  .side-nav-open {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .side-nav-close {
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .content {
    width: 100%;
    margin-left: 0;
  }
  .content-expand {
    width: 100%;
    margin-left: 180px;
  }
}

@media (min-width: 340px) and (max-width: 360.98px) {
  .side-nav-open {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .side-nav-close {
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .content {
    width: 100%;
    margin-left: 0;
  }
  .content-expand {
    width: 100%;
    margin-left: 180px;
  }
}

@media (min-width: 361px) and (max-width: 575.98px) {
  .side-nav-open {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .side-nav-close {
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .content {
    width: 100%;
    margin-left: 0;
  }
  .content-expand {
    width: 100%;
    margin-left: 180px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .side-nav-open {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .side-nav-close {
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .content {
    width: 100%;
    margin-left: 0;
  }
  .content-expand {
    width: 100%;
    margin-left: 180px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .side-nav-open {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .side-nav-close {
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .content {
    width: 100%;
    margin-left: 0;
  }
  .content-expand {
    width: 100%;
    margin-left: 180px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
